body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

a {
    text-decoration: none;
}

h1 {
    color: #007BFF;
    text-align: center;
    font-size: 40px;
}
.result h1 {
    text-align: start;
}

#asciiForm {
    background-color: #fff;
    width: 500px;
    height: 300px;
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

form {
    margin: 20px auto;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
}

textarea {
    width: 100%;
    height: 50px;
}

input[type="submit"], .result a {
    padding: 15px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 4px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.result a:hover {
    background-color: #0056b3;
}

#banner {
    background-color: #f8f9fa;
    width: 100%;
    height: 40px;
}